@charset "utf-8";
/* CSS Document */

#wrapper { width:100%; margin:0px; padding:0px; font-size:14px; font-family: Verdana,Arial,Helvetica,sans-serif; }
.container { width:1000px; margin:0px auto;}
.content { width:100%; float:left; }
.left-content { width:270px; float:left; background-color: #ff6775; padding-bottom:30px;}
.right-content { width:725px; float:right; padding:15px; box-sizing:border-box; }
.Border { border-right: 1px solid #dfdfdf; box-sizing: border-box;}


/*Top Menu-starts*/
.top-menu { width: 100%; background-color: #efefef;}
.top-mneu-inner { float: left; width: 100%; padding: 0 0; }
ul.top-nav {float: right; margin: 0; padding: 0; }
ul.top-nav li { float:left; color:#000; margin: 0 1px 0 0; font-weight: 600; font-size:12px; }
ul.top-nav li:last-child { margin-right:0; }
ul.top-nav li a { color:#000; text-decoration:none; padding:2px 20px 3px 20px; display: block;}
ul.top-nav li a:hover { background-color:#ff6775; color:#fff; text-decoration:none; }
ul.top-nav li a.active { background-color:#ff6775; color:#fff; text-decoration:none; }
.select-text { padding: 2px 10px; font-size: 13px !important; /*font-weight: bold !important;*/ } 
/*Top Menu-ends*/

/*header-starts*/
header { width:100%;}
.logo { margin: 20px 0; float:left; }
.right-symbol { margin: 10px 0; float:right; }
/*header-ends*/

/*nav-starts*/
nav { width:100%;}
.menu { border-radius: 10px 10px 0 0; background-color: #ff6775; width:100%; box-sizing:border-box; height:auto; float: left; margin:0; padding:0 15px; }
.menu ul{ padding:0; margin: 0; }
.menu ul li { float:left; color:#545454; margin:0; padding:10px 0 10px 21px ; font-weight: 600; font-size:12px; }
.menu ul li a { color:#000; text-decoration:none; border-right: 1px solid #000; padding-right:20px; }
.menu ul li a.last-child { border:0 none; padding-right:0; }
.menu ul li a:hover { color:#fff; text-decoration:none; }
.menu ul li a.active { color:#fff; text-decoration:none; }
.menu2 ul li span{font-family: Mangal; font-weight: bold;}
/*nav-ends*/

/*banner-starts*/
.banner { width:100%;  /*border-bottom:2px solid #193048;*/}
.banner img { background-size: cover; width:100%;}

/*section-starts*/
section { width:100%;}

.left-content h2 { width:100%; border-bottom: 1px dashed #fff; color:#fff; font-size:20px; font-weight:Normal; margin:0; padding:15px; line-height: 20px; }
.left-content h3 { float: left; width:100%; box-sizing:border-box; background-color: #fedf13; background-image:url("../images/arrow2.png"); background-position:14px 6px; background-repeat:no-repeat; color:#000; font-size:12px; font-weight:bold; margin:0; padding: 5px 5px 5px 35px; line-height: 22px; }

.menu2 { width:100%; float:left; }
.menu2 ul { margin:0; padding:0; }
.menu2 ul li { background-image:url("../images/arrow.png"); background-position:14px 4px; background-repeat:no-repeat; font-size:12px; border-bottom: 1px solid #c64c57; }
/*.menu2 ul li:last-child { border:0 none; }*/
.menu2 ul li a {  font-weight: 600; color:#000; text-decoration:none; padding:5px  5px 5px 35px; display:block;}
.menu2 ul li:hover a { color:#fff;  text-decoration:none; /*background:#f2f0f0;*/}
.menu2 ul li a.active {  color:#fff; /*background:#f2f0f0; */}

h1 { line-height: 22px; color:#e30103; font-size:22px; font-weight:normal; margin-bottom: 15px;  padding:0; }
p { margin:0 0 20px 0; padding:0; color:#525f5d; font-size:12px; line-height: 15px; text-align: justify; font-weight:normal; }
marquee { margin:0; padding:0 0 10px 0; color:#525f5d; font-size:12px; line-height: 18px; text-align: justify;}

.Box-main { background-color: #efefef; box-shadow: 0 0 2px #b1aaaa; margin-top: 45px;  width: 100%; float: left;}
.Box { padding:15px 10px 5px 10px; border-right: 1px solid #dbd4d4; box-sizing: border-box; float: left; width: 36%; }
/*.Box:last-child { border: 0 none; float: left; width: 25%; border: 2px solid red; }*/
.b-last{ border: 0 none; float: left; width: 25%; border: 0px solid red;}
.Box h2 { color:#464646; font-size:18px; font-weight:500; margin:0 0 15px 0; padding:0; line-height: 18px; }

.Box-inner { float: left; margin-right: 14px; width: 90px; }
.Box-inner.last-child { margin: 0; }
.Box-inner img, .Box img { height: 102px; border:1px solid #949694; }

span.read_more {  float: right; font-size: 10px ; padding: 0; font-weight:bold; margin-top: 10px; text-align: right;width: 100%;}
span.read_more a { color: #949494; text-decoration: none; }
span.read_more a:hover { color: #000000; text-decoration: none; }
.read-margin { margin-top:0px !important; }
span.testi-name {  float: left; font-size: 12px ; text-align:right; font-weight:700; color:#6f6f6f; padding: 0; width: 100%; margin-top: 10px;}

.Box-main2 { margin-top: 20px;  width: 100%; float: left;}
.Box2 {  /*min-height: 208px;*/ padding:8px 10px 8px; border: 1px solid #a0a062; box-sizing: border-box; margin-right: 19px; float: left; width: 31.5%; }
.Box2 p { margin: 0; line-height: 18px; }
.Box2.last-child { margin-right:0px; }
.Box2 h2 {color: #8f8f8f;font-size: 20px;font-weight: bold;line-height: 33px;margin: 0 0 15px;padding: 0 0 0 40px;}
.Box2 h3 { color:#7b7b7b; font-size:17px; font-weight:500; margin:0 0 10px 0; padding:0; line-height: 18px; }
.Box2 img { border: 1px solid #949694; height: 102px;  width: auto; }

.whatnews-icon { background-image:url("../images/what_new.jpg"); background-position:left center; background-repeat:no-repeat; line-height: 17px !important; }
.testimonial-icon { background-image:url("../images/testimonial.jpg"); background-position:left center; background-repeat:no-repeat; }
.askexpert-icon { background-image:url("../images/ask_expert.jpg"); background-position:left center; background-repeat:no-repeat; }
.Top-box-bg { background-color:#efefef; border: 1px solid #ccc; text-align:center; }

ul.list { list-style: outside none none; margin: 0; padding: 0; }
ul.list li { background: rgba(0, 0, 0, 0) url("../images/tab-arrow3.png") no-repeat scroll 0px 3px; color:#525f5d; font-size:13px; line-height: 18px;
margin: 0 0 9px 0; padding: 0 0 0 15px; text-align: justify; }
/*section-ends*/

/*footer-starts*/
footer { width:100%; float:left; background-color:#bfbfbf; }
.Footer-inner { width:100%; display: inline-block; text-align:center;  padding:15px 0; }
.Footer-menu {  width:auto; box-sizing:border-box; height:auto; display: inline-block; margin:0; padding:0; }
.Footer-menu ul{ padding:0; margin: 0; }
.Footer-menu ul li { float:left; margin:0 15px 0 0; padding:0; font-weight: 500; font-size:11px; }
.Footer-menu ul li a { color:#565656; text-decoration:none; border-right: 1px solid #565656; padding-right:15px; }
.Footer-menu ul li a.last-child { border:0 none; padding-right:0; }
.Footer-menu ul li a:hover { color:#000; text-decoration:none; }
.Footer-menu ul li a.active { color:#000; text-decoration:none; }
p.copyrights-text { float:left; width:100%; text-align:center; font-size:11px; font-weight:500; color:#565656; padding:0; margin:10px 0 0 0; }
/*footer-ends*/


/*About-us start*/
.directors-section { width:100%; margin:5px 0 0 0; padding:0 0 0 0; height:auto; float:left;}
/*.directors-section:last-child { border: 0 none; margin: 0; padding: 0; }*/
.directors-image { border: 1px solid #ccc; float: left; height: auto; margin: 0; padding: 5px; width:210px; }
.director-content { width:65%; float:right; height:auto; margin:0px; padding:0px; }
.director-content h3 { color: #ff6775; display: inline-block; font-size: 15px; margin: 0 0 10px; padding: 0; width: 100%; }
.director-content span { font-size: 16px; color: #0945ad; font-weight: bold; display: block; margin:0 0 10px 0; }
.director-content strong { color: #fdb713; }
.director-content p { font-size: 14px; margin:10px 0 0 0; text-align: justify; color:#4c4c4c; line-height: 23px; }
.directors-image img { display: block; height: 100%; object-fit: cover; width: 100%; }

h2 { color: #e30103; display: inline-block; font-size: 18px; margin: 0 0 10px 0; padding: 0; }
h3 { color: #ff6775; display: inline-block; font-size: 14px; margin: 0 0 10px 0; padding: 0; width: 100%; }
h4 { color: #e30103; float: left; font-size: 18px; margin: 0px 0 10px !important; width: 100%; }

ul.list2 { list-style: outside none none; margin: 0 0 20px 0; padding: 0; float:left; width:100%; }
ul.list2 li { background: rgba(0, 0, 0, 0) url("../images/tab-arrow3.png") no-repeat scroll 0 2px; color:#525f5d; font-weight: bold; font-size:12px; line-height: 14px;
margin: 0 0 5px 0; padding: 0 0 0 20px; text-align: justify; }

ul.list3 { list-style: outside none none; margin: 0 0 20px 0; padding: 0; float:left; width:100%; }
ul.list3 li { background: rgba(0, 0, 0, 0) url("../images/tab-arrow3.png") no-repeat scroll 0 2px; color:#525f5d; font-size:13px; line-height: 14px;
margin: 0 0 10px 0; padding: 0 0 0 20px; text-align: justify; }

.about-min-height { min-height: 1771px; }
p a, p a:hover { text-decoration:none;  }

span.sub-heading {color: #000; }

.Box-main3 { margin-top: 30px;  width: 100%; float: left;}
.Box3 { padding:5px; border: 1px solid #ff909e; box-sizing: border-box; margin-right: 19px; float: left; width: 48.4%; }
.Box3.last-child { margin-right:0px; }
.Box3 h2 { width:100%; background-color: #ff6775; color:#fff; font-size:18px; text-align:center; font-weight:bold; margin:0 0 10px 0; padding:0 0 0 0; line-height: 33px; }

.Box3 span { color: #000; float: left; font-size: 13px; width: 70px; }
.Box3 p { float:right; width:75%; margin:0;}
.address-row { border-bottom: 1px dashed #ccc; float: left; margin-bottom: 5px; padding-bottom: 5px; width: 100%; }
.address-row:last-child { margin-bottom:0px; padding-bottom: 0px; border:0 none; }
/*About-us ends*/


/*Contact-Us*/
.Box-main3.margin-top { margin-top: 10px; }
.contactForm { float: left; margin-top:5px;}
.contactForm ul { margin-bottom: 0; }
.contactForm li { padding:0; float:left; width:48%; margin-right: 25px; }
.contactForm li.last-child { margin-right: 0px; }
.contactForm li:nth-child(5) { width: 99.5%; margin-right:0px; }
.contactForm label { padding:0 0 8px 0; display: inline-block; font-size: 13px; width: auto; color: #525f5d; font-weight:600;}
.contactForm ul li input { border: 1px solid #d9d9d9; font-size: 13px; height:35px; font-weight:300; padding-left: 7px !important;}  
.contactForm ul li input { box-sizing: border-box; width: 100%; padding: 6px 4px; margin-bottom: 15px; display: inline-block; }
.contactForm ul li select { box-sizing: border-box; width: 100%; border: 1px solid #bfbfbf; padding: 6px 4px; font-size: 14px; font-weight:300; height:33px; margin-bottom: 15px; display: inline-block; }
option { padding: 8px 4px;}
.submitButon { text-align:center; background: #f13b3d /*e82426*/ none repeat scroll 0 0; color: #fff; float: left; font-size: 13px; font-weight: normal;text-transform: uppercase; padding: 8px 0; min-width: 90px; margin-right: 15px;}
.submitButon:hover{ background-color:#ff6775; color:#fff; text-decoration:none; }
.submitButon:focus, .submitButon:visited {text-decoration:none; }
.contactForm textarea { box-sizing: border-box; border: 1px solid #d9d9d9; height: 95px; padding: 5px; vertical-align: top; width: 100%; resize:none; font-size: 14px; margin-bottom: 15px; font-weight:300; display: inline-block; }
.contact-map { border: 1px solid #ff909e; float: left; margin-top: 25px; padding: 10px 10px 7px 10px; width: 96.5%; }

/*Archivement-gallery*/
ul.gallery { text-align: center;display: inline-block; padding:0; margin:0; border:0px solid red; width:100%; height:auto;}
ul.gallery li {float:left; padding:0; margin:0 18px 11px 0; list-style:none;}
ul.gallery li:last-child {display: inline-block;float: none;margin-right: 4px !important;}
ul.gallery li:nth-child(3n) {margin-right: 0;}
ul.gallery li img { border:1px solid #ccc; float: left; height: 140px; padding: 5px; width: 206px;}
ul.gallery li.last-child { margin-right:0; }
.click { margin-right:4px;color: #808080;display: inline-block;float: right;font-size: 11px;font-weight: normal; padding: 0px; }

.side-more {background-image: none !important;text-align: right;/*border:0 none !important;*/ }
.side-more a {color: #fff !important;padding: 5px 15px 5px 5px !important;}

/*Articles-gallery*/
ul.gallery2 { text-align: center;display: inline-block; padding:0; margin:0; border:0px solid red; width:100%; height:auto;}
ul.gallery2 li {float:left; padding:0; margin:0 18px 10px 0; list-style:none; width: 218px; }
ul.gallery2 li:last-child {display: inline-block;float: none;margin-right: 4px !important;}
ul.gallery2 li:nth-child(3n) {margin-right: 0;}
ul.gallery2 li img { border:1px solid #ccc; float: left; height: 150px; padding: 5px; width: 206px;}
ul.gallery2 li.last-child { margin-right:0; }
.artcl-name-date { background-color:#f13b3d; color: #fff; float: left; font-size: 9px; padding: 8px 0; text-align: center; width: 100%; }
.articles-height { min-height: 1174px; }

/*Testimonial starts*/
.testimonial_content {width:100%; float: left;}
.testi-container { width: 100%; border: 1px solid #dbdcde; float: left; padding:20px 30px; box-sizing:border-box;background-image:url("../images/testi-bgbox.jpg"); background-position:left top; background-repeat:no-repeat;}
.testi-container p { text-align: justify; }
.testi-baloon { width:96%; height: 19px; margin: -1px 0 0; z-index: 100; position: relative; float:left; background-image:url("../images/testi-baloon.png"); background-position:right 0; background-repeat:no-repeat;}
.testimonial-name { color: #6f6f6f; float: right; font-size: 14px; font-weight: bold; margin-bottom: 20px; }
.testi-name:last-child { margin: 0; }

/*Ayurveda starts*/
.img-text-contnr { width:100%; float:left; margin-top: 0; }
.content-pic {  margin-right: 15px; border: 1px solid #ccc; float: left; height: 146px; padding: 4px; width: 250px; }
.content-pic img { width:100%; height:146px;}

.top-margin { margin-top:0 !important; }
.bottom-margin { margin-bottom:0 !important; }


/*Newspage*/
.news-fix-cont {margin: 0; width: 100%; padding:0; height:auto; float:left;}
.news-section { width:100%; margin:0 0 30px 0; padding:0 0 30px 0; height:auto; border-bottom:1px dashed #ccc; float:left;}
.news-section:last-child { border: 0 none; margin: 0; padding: 0; }
.news-pic { border: 1px solid #ccc; float: left; height: 150px; padding: 5px;  width: 240px; }
.news-date { width:415px; margin:0; padding:0 0 0px 0; float:right; color:#0945ad; font-weight: bold; }
.news-title { width:415px; float:right; font-size:18px; font-weight:bold; padding:0; margin:0; line-height:35px; color:#ff6775; }
.news-con { width:415px; margin:0; padding:0; float:right;}

/*inner pages*/
.Box-main4 { margin-top: 30px;  width: 100%; float: left; margin-bottom:15px; }
.Box4 { padding:0; border: 1px solid #ccc; box-sizing: border-box; margin-right: 19px; float: left; width: 338px; }
.Box4.last-child { margin-right:0px; }


/*Top scroll*/
.back-to-top { background: rgba(0, 0, 0, 0) url("../images/top-to-up.png") no-repeat scroll right bottom; bottom: 90px; display: none; height: 35px; position: fixed; right: 22px; width: 36px; z-index: 20; }
